@import '@csstools/normalize.css/opinionated.css';

:root {
  --app-bg-color: #fafafa;
  --white: #fff;
  --black: #000;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: var(--app-bg-color);
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app,
input {
  font-family: 'Montserrat', sans-serif;
}

